/*table {*/
/*    width: 700px;*/
/*    border-spacing: 0;*/
/*    margin: 20px auto;*/
/*    background-color: #eeeeee;*/
/*    border-bottom: 2px solid teal;*/
/*}*/
/*table caption{*/
/*    font-size: 30px;*/
/*}*/

/*table td {*/
/*    padding: 10px;*/
/*    margin: 10px auto;*/
/*    border: 1px solid white;*/
/*    text-align: center;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*table thead td {*/
/*    background-color: #000000;*/
/*    color: #fff;*/
/*    color: #ccff9b;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/

/*.button-1 {*/
/*    color: white;*/
/*    border: none;*/
/*    background-color: teal;*/
/*    text-align: center;*/
/*    padding: 5px 5px;*/
/*    font-weight: bold;*/
/*    margin: 5px;*/
/*}*/

/*.button-2 {*/
/*    color: white;*/
/*    border: none;*/
/*    background-color: rgb(212, 50, 50);*/
/*    text-align: center;*/
/*    padding: 5px 5px;*/
/*    font-weight: bold;*/
/*    margin: 5px;*/
/*}*/

/*.cap-1 {*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    margin: 20px auto;*/
/*}*/


/*table, th, td {*/
/*    !*border: 1px solid black;*!*/
/*    !*border-collapse: collapse;*!*/
/*    padding: 5px;*/
/*}*/

/*th {*/
/*    background-color: #4e9ae1;*/
/*}*/

/*form{*/
/*    margin: 20px auto;*/
/*}*/


/*!* Confirm окно *!*/


/*table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

/*th, td {*/
/*    border: 1px solid black;*/
/*    padding: 8px;*/
/*}*/

/*th {*/
/*    background-color: lightgray;*/
/*}*/

/*tr:nth-of-type(odd) {*/
/*    background-color: #f9f9f9;*/
/*}*/

/* Add the following styles to your admin.css file */

/* Responsive table */

.table-container {
    overflow-x: auto;
    margin: 15px;
}

#usersTable {
    width: 100%;
    border-collapse: collapse;
}

#usersTable th,
#usersTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

#usersTable th {
    background-color: #f2f2f2;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    #usersTable {
        font-size: 12px;
    }

    #usersTable th,
    #usersTable td {
        padding: 4px;
    }
}

@media only screen and (max-width: 400px) {
    #usersTable {
        font-size: 10px;
    }
}
.cap-1{
    font-size: 2rem;
}