.u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/201.png");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  margin: 401px 0 0;
}

.u-section-2-1 .u-text-2 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 1536px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/211.png");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  margin: 401px 0 0;
}

.u-section-2-2 .u-text-2 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/221.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  margin: 401px 0 0;
}

.u-section-2-3 .u-text-2 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/teenagers.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 275px 49px 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 56px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-block-8fb2-5 {
  position: absolute;
  width: 144px;
  height: 3px;
  top: auto;
  bottom: 19px;
}

.u-block-8fb2-3 {
  position: absolute;
  left: 0;
}

.u-block-8fb2-4 {
  position: absolute;
  right: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 579px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 680px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 16px 50px 0;
}

.u-section-3 .u-list-1 {
  min-height: 236px;
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  margin-top: 33px;
  margin-bottom: 60px;
  grid-gap: 30px 30px;
  margin-left: auto;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(to right, #f5d654, #f1b5b8);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 14px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(to right, #f5d654, #f1b5b8);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 14px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: linear-gradient(to right, #f5d654, #f1b5b8);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 14px auto 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: linear-gradient(to right, #f5d654, #f1b5b8);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 68px;
  width: 68px;
  background-image: none;
  margin: 12px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 14px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    min-height: 195px;
    height: auto;
    margin-left: initial;
  }

  .u-section-3 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-4 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    margin-top: 92px;
  }

  .u-section-3 .u-list-1 {
    min-height: 466px;
    grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px);
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-text-1 {
  width: 486px;
  font-weight: normal;
  margin: 60px auto 0;
}

.u-section-4 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 429px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-4 .u-image-1 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: -268px 0 0 347px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 348px;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0 347px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-4 .u-image-2 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: -244px 0 0 348px;
}

.u-section-4 .u-text-6 {
  margin: 8px 0 0 348px;
}

.u-section-4 .u-text-7 {
  line-height: 2;
  margin: 8px 0 0 348px;
}

.u-section-4 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: linear-gradient(#f9e79b, #f4db70);
}

.u-section-4 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: linear-gradient(#f9e79b, #f4db70);
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 248px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 148px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-4 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 228px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-4 .u-image-2 {
    width: 250px;
    height: 326px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 128px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 88px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
  min-height: 663px;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: 0;
  right: auto;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #fcffbc, #f5cb5c);
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-line-1 {
  width: 43px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-5 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-input-1 {
  background-image: none;
}

.u-section-5 .u-input-2 {
  background-image: none;
}

.u-section-5 .u-input-3 {
  background-image: none;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 515px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  margin: 31px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  margin: 18px 2px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 515px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-map-1 {
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 573px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    margin-bottom: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 474px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
    margin-bottom: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 976px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1701px;
  }

  .u-section-5 .u-shape-1 {
    height: 754px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -694px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 732px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 462px;
  }
}
.u-section-6 .u-sheet-1 {
  min-height: 710px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-6 .u-image-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: url("../images/QR-1.png");
  /*background-image: url("../images/QR-1.png");*/
  /*background-image: url("../images/QR-1.png");*/
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 486px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-6 .u-image-1 {
    min-height: 372px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-6 .u-image-1 {
    min-height: 558px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-6 .u-image-1 {
    min-height: 351px;
  }
}